.header-bg {
  background-color: var(--c12);
}
.header-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
}
.header-menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.header-menu a {
  color: var(--w);
  padding: 16px 0px;
  display: inline-block;
  position: relative;
}
/*Efeito no links do menu, bicicletas, Seguros, Contato*/
.header-menu a::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background-color: #ffffff;
  margin-top: 4px;
  transition: 0.3s ease;
  position: absolute;
}
.header-menu a:hover:after {
  width: 100%;
}
/*Responsividade do menu*/
@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background-color: var(--c11);
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background-color: var(--c10);
  }
  .header-menu a:hover::after {
    display: none;
  }
}
@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
    gap: 20px;
  }
}
@media (max-width: 465px) {
  .header-container {
    display: block;
    padding: 20px;
  }
  .header-menu {
    margin-top: 10px;
    gap: 20px;
    justify-content: center;
  }
}
