.header-bg {
  background-color: var(--c12);
}
.header-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 36px 220px;
}
.header-menu {
  display: flex;
  font-size: 1.125rem;
  font-weight: 500;
  gap: 40px;
}
.header-menu a {
  color: var(--w);
  text-decoration: none;
}