.introducao-bg {
  background-color: var(--c12);
  height: 640px;
  position: relative;
}
.introducao {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 10px;
}
.introducao-container span {
  color: var(--p1);
}
.introducao-container {
  display: grid;
  align-content: center;
  justify-items: start;
  gap: 1.25rem;
  padding: 10px;
}
.introducao h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  color: #fff;
}
.introducao p {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: var(--c4);
}
.introducao img {
  object-fit: cover;
  object-position: left;
  border-radius: 4px;
}
.introducao a {
  padding: 16px 32px;
  border-radius: 5px;
  background: linear-gradient(180deg, #ffc800 0%, #f2a60d 100%);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  color: var(--p5);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
.introducao-bg::after {
  content: "";
  display: block;
  background: url("../img/deco.png") no-repeat center;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
}
