.container-album {
  padding-top: 60px;
  padding-bottom: 120px;
}
.container-album ul {
  display: flex;
  gap: 40px;
  padding: 0 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.container-album img {
  margin-bottom: 16px;
}
.container-album a {
  display: block;
}
.container-album h2 {
  margin-bottom: 40px;
  max-width: 1200px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
.container-album h3 {
  color: var(--c11);
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}
.container-album h3::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--p1);
  transition: 0.3s ease;
}
.container-album h3:hover::before {
  width: 6%;
}
.container-album span {
  color: var(--c8);
}

@media (max-width: 960px) {
  .container-album ul {
    overflow-x: auto;
  }
}
