.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.bicicletas-conteudo h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  border-radius: 1px;
  background: var(--p1, #fb0);
  margin-bottom: 16px;
}
.bicicletas-conteudo h2 {
  margin-bottom: 20px;
}
.bicicletas-conteudo p {
  margin-bottom: 32px;
}

.bicicletas-conteudo ul li {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}
.bicicletas-imagem {
  object-fit: cover;
}
.bicicletas-imagem {
  position: relative;
}
.bicicletas-imagem span {
  position: absolute;
  top: 24px;
  right: 0;
  color: #fff;
}
.bicicletas-imagem span {
  display: inline-flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px 0px 0px 5px;
  background: var(--c12, #000);
}
.bicicletas-conteudo {
  position: relative;
}
.bicicletas-conteudo a {
  position: absolute;
  right: 0;
  bottom: 0px;
}
.bicicletas-bg {
  background-color: var(--c11);
  box-shadow: inset 200px -30px var(--0), inset 0px 30px var(--0);
  padding: 60px 0;
}
