.font-1-xxl {
  font-size: 64px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.font-2-xl {
  font-size: 32;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.font-1-xl {
  font-size: 32px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.font-1-l {
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.font-2-l {
  font-size: 24px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.font-2-l-b {
  /* VERIFICAR O QUE ALL CAPS*/
  font-size: 24;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.font-1-m {
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
}
.font-1-m-b {
  font-size: 18px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.font-2-m {
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.font-1-s {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.font-2-s {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.font-2-xs {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.font-1-xs {
  font-size: 12px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
