html,
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 1500px;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
img[src$=".jpg"] { /*somente arquivos que tem extensão JPG*/
  border-radius: 4px;
}
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
p {
  margin: 0px;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
