#contato {
  background: var(--c1);
}
.contato {
  display: grid;
  grid-template-columns: 5fr 7fr;
  align-items: start;
}
.contato-dados {
  background-color: var(--c12);
}
.contato-dados,
.contato-formulario {
  border-radius: 4px 0px 0px 4px;
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.contato-dados h2 {
  margin-bottom: 60px;
}
.contato-endereco p {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}
.contato-endereco p:first-child:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(../../icons/local.svg) no-repeat;
}
.contato-endereco p + p {
  margin-left: 28px;
}
.contato-endereco {
  margin-bottom: 32px;
}
.contato-meios {
  display: flex;
  flex-direction: column;
}
.contato-meios > a {
  display: flex;
  align-items: center;
  gap: 8px;
}
.contato-meios a:nth-child(2) {
  margin-left: 28px;
  margin-bottom: 40px;
}
.contato-meios a:last-child {
  margin-bottom: 60px;
}
.contato-meios a:last-child::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../../icons/telefone.svg);
}
.contato-redes {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-left: 28px;
}

@media (max-width: 800px) {
  .contato {
    grid-template-columns: 1fr;
  }
  .contato-dados {
    padding: 20px 20px;
  }
}
