.lojas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  /* padding-top: 120px;
  padding-bottom: 120px; */
}
.lojas h2 {
  grid-column: 1 / -1;
  margin-bottom: 60px;
}
.lojas img {
  border-radius: 4px 4px 0 0;
}
.lojas-item img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
.lojas-item {
  border-radius: 4px;
  background: var(--0);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.lojas-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 16px;
  
}
.lojas-conteudo h3,
.lojas-tempo {
  gap: 12px;
  grid-column: 1 / -1;
  margin-bottom: 20px;
}
.lojas-dados {
  display: grid;
  gap: 8px;
  border-left: 2px solid var(--c2);
  padding-left: 12px;
}
.lojas-dados a,
p {
  display: block;
  margin-bottom: 8px;
}
.lojas-tempo {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 600;
}

@media (max-width: 800px) {
  .lojas {
    gap: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .lojas-h2 {
    margin-bottom: 32px;
  }
  .lojas-conteudo {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .lojas {
    grid-template-columns: 1fr;
  }
}
