.tecnologia-bg {
  background-color: var(--c11);
  /*sombra em cima 80, sombra embaixo -80*/
  box-shadow: inset 0 80px var(--0), inset 0 -80px var(--0);
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.tecnologia-texto {
  place-self: center;
  padding: 160px 0;
}
.tecnologia-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.tecnologia-texto > span {
  display: block;
  color: var(--c5);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.tecnologia-texto h2 {
  color: var(--0);
  margin-bottom: 32px;
}
.tecnologia-texto p {
  color: var(--c4);
  margin-bottom: 20px;
}
.link:hover {
  color: var(--0);
  border-bottom: 4px solid var(--0);
}
/*LISTA DENTRO DO GRID*/
.container-tecnologia ul {
  display: flex;
  gap: 40px;
}

.container-tecnologia ul li h3 {
  color: var(--c1);
  margin-bottom: 8px;
  width: max-content; /*para não quebrar o titulo*/
}
.container-tecnologia ul li p {
  color: var(--c4);
}
@media (max-width: 800px) {
  .container-tecnologia {
    grid-template-columns: 1fr;
  }
  .tecnologia-texto {
    padding: 60px 0;
  }
  .tecnologia-bg {
    box-shadow: initial;
  }
  .tecnologia-imagem {
    display: none;
  }
}

@media (max-width: 600px) {
  .container-tecnologia ul {
    flex-direction: column;
  }
}
