.perguntas-lista {
  padding-top: 75px;
  padding-bottom: 75px;
}
.perguntas-lista h2 {
  margin-bottom: 50px;
}
.perguntas-lista p {
  font-weight: 400;
}
.perguntas-lista li {
  margin-bottom: 10px;
  font-weight: 600;
}
.perguntas-lista li::before {
  content: "";
  display: inline-block;
  width: 0.75rem;
  height: 0.5rem;
  background: var(--p1);
}
