.perguntas-lista {
  padding-top: 75px;
  padding-bottom: 75px;
}
.perguntas-lista h2 {
  margin-bottom: 50px;
}
.perguntas-lista p {
  font-weight: 400;
  padding-left: 20px;
}
.perguntas-lista a {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}
.perguntas-lista li {
  font-weight: 600;
  list-style: none;
  padding: 20px 40px;
}
.perguntas-lista li:nth-child(odd) {
  background-color: var(--c1);
  padding: 20px 40px;
}
.perguntas-lista a::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background: var(--p1);
}
