.termos {
  padding: 80px 0px;
}
.termos h2 {
  position: relative;
  margin-bottom: 20px;
  font-weight: 600;
}
.termos p + h2 {
  margin-top: 40px;
}

.termos h2::before {
  content: "";
  display: block;
  width: 24px;
  height: 10px;
  background: var(
    --gradiente-p1,
    linear-gradient(180deg, #ffc800 0%, #f7b108 91.93%, #f2a60d 100%)
  );
  position: absolute;
  left: -34px;
  top: 13px;
}
.termos p {
  max-width: 75ch;
  margin-bottom: 24px;
}
